@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Real Styling start here */
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

.mont {
    font-family: "Montserrat", sans-serif;
}
.new {
    border-radius: 50px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 20px 20px 24px #cecece,
        -20px -20px 24px #f2f2f2;
}

.nemo {
    border-radius: 50px;
    /* background: linear-gradient(145deg, #f0f0f0, #cacaca); */
    box-shadow: 20px 20px 5px #cecece,
        -20px -20px 5px #f2f2f2;
}